.name-post{
    margin-top: 25px;
    background: #dadada;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #bdbdbd;
    padding: 18px;
    font-size: 24px;
}
h1{
    font-size: 28px!important;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
#swapi{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    background: #d9d9d9;
    font-size: 20px;
    /*box-shadow: 10px 5px 5px #bdbdbd;*/
}
.paginator {
    height: auto;
    width: auto;
    line-height: 150%;
    display: block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 35px;
}
.paginator > span {
    height: 28px;
    width: 32px;
    display: inline-block;
    margin: 0px 22px 15px 0px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    background: #dadada;
    font-family: cursive;
    font-size: 18px;
    text-align: center;
}
.paginator_active {
    color: red!important;
    border: 3px solid darkred!important;
    background: #c4c4c4 !important;
    box-shadow: 6px 3px 5px #9f9f9f !important;
    font-size: 20px!important;
font-weight: 700;
}
.comments{
    width: auto;
    height: auto;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    background: #d9d9d9;
    box-shadow: 10px 5px 5px #bdbdbd;
    border-radius: 10px;
    display: none;
    /*flex-direction: column;*/
}
.text{
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    text-align: left;
    font-family: cursive;
    font-size: 20px;
}
